:root {
  --graphic-purple: #b13ff7;
  --graphic-pink: #e943f4;
}

body {
  background-color: #f7f7f7;
  margin-bottom: 100px; 
}

.phone {
  max-width: 100%;

}

.graphic {
  width: 643px;
  height: 1245px;
  flex-shrink: 0;
  border-radius: 1264px;
  position: absolute;
  background: var(--graphic-purple);
  top: 0;
  left: 0;
  transform: translateX(-50%) translateY(-50%);
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 20px;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (min-width: 1200px) {
  .graphic {
    position: fixed;
    top: 0;
    left: 0;
    width: 643px;
    height: 1245px;
    z-index: -1;
    transform: translateX(-50%) translateY(-50%);
  }
}